<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <script data-require="angular.js@*" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.0/css/bootstrap-combined.min.css" rel="stylesheet">
   <link rel="stylesheet" href="style.css" />
   <script src="jquery.min.js"></script>
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css" />
    <script src="bower_components/ngDialog/js/ngDialog.js"></script>
    <script src="script.js"></script>
    <script src="bootstrap.min.js"></script>
    
  </head>

  <body ng-controller="MyController">
    <input type="text" ng-model="enteredValue">
    <br>
    <button type="button" ng-Click="findValue(enteredValue)">Search</button>
    <h3>Results</h3>
    <ul>
      <li ng-repeat="result in results">Serial number: {{result.serial}} | Owner: {{result.owner}}</li>
    </ul>

 <!--
   <input type="text" ng-model="search.country" />

    Cities all over world:

    <p ng-repeat="data in dataset | filter: search">


     {{ data.city }}
   </p>
-->
   <div class="row">
    <input class="span4 pull-right" type="text" placeholder="Search for Country to get weather" ng-model="search.country" >
  </div>
  <div class="">
    <table id="results" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Country</th>
            <th>City</th>
            
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in dataset | filter: search">
            <td id="country">{{data.country}}</td>
            <td id="city">{{data.city}}</td>
            <td><button ng-click="openContactForm()">Open</button></td>
        </tr>
        </tbody>
    </table>
</div>

    <div>
  <h1>Modal example</h1>
  <button ng-click="open()" class="btn btn-default">Open modal</button>
    <!--
  <modal title="Login form" visible="showModal">
    <form role="form">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" />
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </modal>-->
</div>

   </body>

</html>
